<% if @status.to_s == "404" %>

	{"success": false, "http_status": 404, "error": "Página não encontrada"}

<% else 
	@msg = "#{details[:name]} - #{details[:message]} "
%>

{"success": false, "http_status": <%=@status.to_s%>, "error": "<%=raw @msg%>" }

<% end %>