<div class="error">

	<!--Alert -->
	<%= image_tag 'https://s3-us-west-2.amazonaws.com/bemychef/images/exception_handler/alert-icon.png', width: "150", alt: "Error!", title: "Sorry, A Server Error Occurred", class: "alert" %>

	<!--Message -->
	<div class="message">
		<% if @status.to_s == "404" %>
			<strong><%=I18n.t(:page_not_found) %></strong>
			<span><%=I18n.t(:msg_page_not_found) %></span>
		<%
		else
		%>
			<strong><%=I18n.t(:ops) %></strong>
			<span><%=I18n.t(:msg_ocorreu_erro) %></span>
		<%
		end
		%>
	</div>

	<!--Contact -->
	<div class="contact">
		<% ExceptionHandler.config.social.each do |item, address| %>
		<%= link_to image_tag("https://s3-us-west-2.amazonaws.com/bemychef/images/icn_#{item}.png", title: item.to_s.titleize), address, target: :blank %>
		<% end %>
	</div>

	<%
	if details[:class_name].downcase.index("timeout") then
	%>
	<script>
		//location.reload();
	</script><%
	end
	%>

</div>