<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Comentário em moderação</h1>
  	<p>
  		Seu comentário está em moderação.<br>
  		Prato: <%=@dish.name%><br>
  		Ratting: <%=@comment.rating%><br>
  		Comentário <%=@comment.comment%><br>
	
  	</p>
   
  </body>
</html>