<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Pedido Cancelado pelo Chef</h1>
  	<p>
  		Seu pedido foi cancelado.<br>
  		Prato: <%=@dish.name%><br>
  		Quantidade: <%=@ordered.quantity%><br>
  		Delivery/Pick_up: <%=@ordered.delivery_pick_up%><br>
  		Obs.: <%=@ordered.ps%><br>
	
  	</p>
   
  </body>
</html>