<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Timeout Pedido [User]</h1>
  	<p>
  		O chef deve estar ocupado. O tempo para ele aceitar o pedido expirou. Escolha um outro prato.<br>
  		Prato: <%=@dish.name%><br>
  		Tempo de preparo: <%=@dish.time_to_prepare%><br>
  		Quantidade: <%=@ordered.quantity%><br>
  		Delivery/Pick_up: <%=@ordered.delivery_pick_up%><br>
  		Obs.: <%=@ordered.ps%><br>
	
  	</p>
   
  </body>
</html>