Pedido Cancelado pelo Usuário

  		Seu pedido foi cancelado.
  		Prato: <%=@dish.name%>
  		Quantidade: <%=@ordered.quantity%>
  		Delivery/Pick_up: <%=@ordered.delivery_pick_up%>
  		Obs.: <%=@ordered.ps%>