
Timeout Pedido [User]

  		O chef deve estar ocupado. O tempo para ele aceitar o pedido expirou. Escolha um outro prato.
  		Prato: <%=@dish.name%>
  		Tempo de preparo: <%=@dish.time_to_prepare%>
  		Quantidade: <%=@ordered.quantity%>
  		Delivery/Pick_up: <%=@ordered.delivery_pick_up%>
  		Obs.: <%=@ordered.ps%>