Prato pronto

  		Seu pedido está pronto.
  		Prato: <%=@dish.name%>
  		Tempo de preparo: <%=@dish.time_to_prepare%>
  		Quantidade: <%=@ordered.quantity%>
  		Delivery/Pick_up: <%=@ordered.delivery_pick_up%>
  		Obs.: <%=@ordered.ps%>