
Timeout Pedido [Chef]

  		O seu tempo de aceitar o pedido terminou. Pedido cancelado.
  		Prato: <%=@dish.name%>
  		Tempo de preparo: <%=@dish.time_to_prepare%>
  		Quantidade: <%=@ordered.quantity%>
  		Delivery/Pick_up: <%=@ordered.delivery_pick_up%>
  		Obs.: <%=@ordered.ps%>