
<%=I18n.t(:subscription_bem_vindo, :locale => @locale)%>

<%=I18n.t(:subscription_frase_1, :locale => @locale)%>

<%=I18n.t(:subscription_frase_2, :locale => @locale)%>

<%=I18n.t(:subscription_ate_breve, :locale => @locale)%>
<%=I18n.t(:subscription_bmc_team, :locale => @locale)%>
http://www.bemychef.co