<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>BeMyChef</title>

		<style>
			* {
				margin: 0;
				padding: 0;
			}
			a:link {
			    text-decoration: none;
			}
			
			a:visited {
			    text-decoration: none;
			}
			
			a:hover {
			    text-decoration: none;
			}
			
			a:active {
			    text-decoration: none;
			}
			* {
				font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
				height: auto;
				width: auto;
			}

			img {
				max-width: 100%;
				margin-top: 5px;
			}
			.collapse {
				margin: 0;
				padding: 0;
			}
			body {
				-webkit-font-smoothing: antialiased;
				-webkit-text-size-adjust: none;
				width: 100% !important;
				height: 100%;
			}
			p, ul {
				font-size: 14px;
				font-weight: normal;
				line-height: 1.6;
				margin-bottom: 10px;
			}
		</style>
	</head>

	<body>
		<!-- HEADER -->
		<div style="height: 80px; width: 100%;background-color:#ec6f66;">
			&nbsp;
		</div>

		<!-- BODY -->
		<div style="clear: both !important; padding: 15px;margin:10px auto;background-color:#fff; display: block !important;max-width: 600px !important;">
			<h3 style="color: #4d3a2d;  font-size: 27px; font-weight: 900;"><%=I18n.t(:subscription_bem_vindo, :locale => @locale)%></h3>
			<p style="color: #9f7356;font-size: 17px;">
				<%=I18n.t(:subscription_frase_1, :locale => @locale)%>
			</p>
			<p style="color: #9f7356; font-size: 14px;  font-weight: 300;line-height: 1.2">
				<%=I18n.t(:subscription_frase_2, :locale => @locale)%>
			</p>
			<p><img style="margin-top: 5px; max-width: 100%;" src="https://s3-us-west-2.amazonaws.com/bemychef/images/email/600x150.jpg" />
			</p>
			<p style="color: #9f7356;font-size: 16px;font-weight: 500;line-height: 1; margin-bottom: 4px;">
				<%=I18n.t(:subscription_ate_breve, :locale => @locale)%>
			</p>
			<p style="color: #4d3a2d;font-size: 16px;font-weight: 900;;line-height: 1; margin-bottom: 4px;">
				<%=I18n.t(:subscription_bmc_team, :locale => @locale)%>
			</p>

			<p>
				<br/>
				<a style="color: #ec6f66;text-decoration: underline;" href="http://www.bemychef.co">BeMyChef.co</a>
			</p>

			<div>
				<a style="margin-right: 5px;" onClick="_gaq.push(['_trackEvent', 'EmailSubscription', 'click', 'Facebook']);" href="http://www.facebook.com/pages/Be-My-Chef/1467090780218802"><img src="https://s3-us-west-2.amazonaws.com/bemychef/images/email/icn_fb.png" /></a>
				<a style="margin-right: 8px;" onClick="_gaq.push(['_trackEvent', 'EmailSubscription', 'click', 'Instagram']);" href="http://instagram.com/bemychef_/"><img src="https://s3-us-west-2.amazonaws.com/bemychef/images/email/icn_instagram.png" /></a>
				<a style="margin-right: 8px;" onClick="_gaq.push(['_trackEvent', 'EmailSubscription', 'click', 'Email']);" href="mailto:email@bemychef.co"><img src="https://s3-us-west-2.amazonaws.com/bemychef/images/email/icn_mail.png" /></a>
				<a style="margin-right: 8px;" onClick="_gaq.push(['_trackEvent', 'EmailSubscription', 'click', 'Pinterest']);" href="http://www.pinterest.com/be_mychef/"><img src="https://s3-us-west-2.amazonaws.com/bemychef/images/email/icn_pinterest.png" /></a>
				<a style="margin-right: 8px;" onClick="_gaq.push(['_trackEvent', 'EmailSubscription', 'click', 'Twitter']);" href="https://twitter.com/Be_MyChef"><img src="https://s3-us-west-2.amazonaws.com/bemychef/images/email/icn_twitter.png" /></a>
			</div>
		</div>

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '<%=MainYetting.GOOGLE_ANALYTICS%>']);
		  _gaq.push(['_trackEvent', 'EmailSubscription', 'open', 'email']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })()
		</script>
	</body>
</html>