@charset "UTF-8";
/* Simple fluid media
 Note: Fluid media requires that you remove the media's height and width attributes from the HTML
 http://www.alistapart.com/articles/fluid-images/
 */
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width: 100%;
}

/*
 Dreamweaver Fluid Grid Properties
 ----------------------------------
 dw-num-cols-mobile:		5;
 dw-num-cols-tablet:		8;
 dw-num-cols-desktop:	10;
 dw-gutter-percentage:	25;

 Inspiration from "Responsive Web Design" by Ethan Marcotte
 http://www.alistapart.com/articles/responsive-web-design

 and Golden Grid System by Joni Korpi
 http://goldengridsystem.com/
 */

@font-face {
	font-family: landing_bemychef_bold;
	src: url("https://s3-us-west-2.amazonaws.com/bemychef/fonts/landing_bemychef_Bold.ttf");
}
@font-face {
	font-family: landing_bemychef_regular;
	src: url("https://s3-us-west-2.amazonaws.com/bemychef/fonts/landing_bemychef_Regular.ttf");
}
@font-face {
	font-family: landing_bemychef_semibold;
	src: url("https://s3-us-west-2.amazonaws.com/bemychef/fonts/landing_bemychef_Semibold.ttf");
}
* {

}


body {
	font-family: landing_bemychef_regular !important;
    background-image: url('https://s3-us-west-2.amazonaws.com/bemychef/images/img_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #393939 !important;
    background-size: cover;
    
}

.home-top {
	
}

.has-error .form-control {
	border-width: 3px;
}
label {
	font-weight: unset !important;
}
.input-select-country a {
	color: #ec6e66 !important;
}
.featuredImage img {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
}
/* this class will be added via JS */
.bgwidth {
	width: 100%;
}
.bgheight {
	height: 100%;
}

.always-top {
	top: 0px;
	position: fixed;
}
.checkbox input.custom-checkbox[type="checkbox"]:checked + .icons .icon-checked, .radio input.custom-checkbox[type="checkbox"]:checked + .icons .icon-checked, .checkbox input.custom-radio[type="radio"]:checked + .icons .icon-checked, .radio input.custom-radio[type="radio"]:checked + .icons .icon-checked {
	color: #ec6e66 !important;
}
#join {
	color: #FFF;
	margin-top: 30px;
}
#join input {
	background: transparent;
	border: 2px solid;
	color: #FFF;
	font-family: "landing_bemychef_regular";
}

.text-cadastrar {
	font-family: "landing_bemychef_regular";
	font-size: 15px;
	color: #fff !important;
}
.home-footer {
	margin-bottom: 40px;
}
.text-align-left {
	text-align: left;
}

.btn-cadastrar {
	background-color: #ec6e66 !important;
	border-color: #ec6e66 !important;
	color: #fff;
}

.select-country {
	background-color: #fff !important;
	border-color: #ec6e66 !important;
	color: #ec6e66 !important;
}
.select-country span {
	color: #ec6e66 !important;
}
.select-country li a span {
	color: #ec6e66 !important;
}
/* all */
#join ::-webkit-input-placeholder {
	color: #fff;
}
#join ::-moz-placeholder {
	color: #fff;
}/* firefox 19+ */
#join :-ms-input-placeholder {
	color: #fff;
}/* ie */
#join input:-moz-placeholder {
	color: #fff;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.language {
	font-family: "landing_bemychef_regular";
	color: #FFF;
}
.selected_by {
	font-family: "landing_bemychef_bold";
	text-align: right;
	color: #FFF;
	font-size: 10px;
}
.txt_title_join {
	font-size: 40px;
	font-family: "Times New Roman", Georgia, Serif;
}
.selected_by img {
	margin: 5px;
}

.logo {
	padding-top: 80px;
}

.padding-top-left-right-bottom {
	padding: 10px;
}

.default-text {
	float: left;
	margin: 10px;
	text-align: left;
	font-family: "landing_bemychef_semibold";
	font-size: 18px;
}

.logo {
	text-align: center;
}

.language a:link {
	color: #FFF;
}

/* visited link */
.language a:visited {
	color: #FFF;
}
.language .active {
	text-decoration: underline;
}

/* mouse over link */
.language a:hover {
	color: #FFF;
	text-decoration: underline;
}

/* selected link */
.language a:active {
	color: #FFF;
}
.default-maring-top {
	margin-top: 10px;
}
#text-home, #text-home a, .social {
	margin-top: 25px;
	color: #fff !important;
	text-align: center;
}
#text-home p {
	margin-top: 20px !important;
	margin-bottom: 25px !important;
	font-family: "landing_bemychef_regular";
}
.social a {
	margin-left: 5px;
	margin-right: 5px;
}

