<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>BeMyChef</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
</html>

<body style="margin: 0; padding: 0;">
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #f6f6f6;">
		<tr>
			<td align="" bgcolor="#3f4953" style="padding: 20px 0 20px 20px;"><img src="https://s3-us-west-2.amazonaws.com/bemychef/images/img_logo.png" alt="BeMyChef" style="display: block;" /></td>
		</tr>

		<tr>
			<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
		</tr>
		<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">

			<tr>
				<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
			</tr>
			<tr>
				<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
			</tr>
			<tr>
				<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
			</tr>
			<tr>
				<td style="color: #999999; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
				<p>
					<%=I18n.t(:email_hello)%> <%=@resource.name%>,
				</p>
				<p>
					Se você fez esta solicitação, clique no link abaixo. Se você não fez esta solicitação, ignore este e-mail. 
				</p>
				<p>
					<%= link_to I18n.t(:change_my_password), edit_password_url(@resource, reset_password_token: @token) %>
				</p>
				<p>
					<%=I18n.t(:email_caso_tenha_duvidas)%>
				</p></td>
			</tr>

			<tr>
				<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
			</tr>
			<tr>
				<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
			</tr>

			<table>

				<tr>

				<tr>
					<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
				</tr>

				<td style="color: #999999; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;" href="mailto:contato@hippokrates.us"><%=I18n.t(:thanks)%>,
				<br>
				<b>BeMyChef.</b></td>
				</tr>
			</table>
		</td>
		<tr >
			<td align="center" bgcolor="#fdd135" style="color: #666; font-family: Trebuchet MS, sans-serif; font-size: 10px;  padding: 10px 10px 30px 30px;" >
			<br style="color:white; font-size:12px; line-height: 30px;">
			© 2015 BeMyChef. An awesome startup by <a href="http://doisdoissete.com" align="center" bgcolor="#fdd135" style="color: #666; font-family: Trebuchet MS, sans-serif; font-size: 10px;" ><b>doisdoissete.</b></a></td>
		</tr>
	</table>
</body>
</html>
