<% cache("country_#{I18n.locale.to_s}") do 
	if I18n.locale.to_s == "pt-BR" then
	  country_array = CountryYetting.COUNTRY_PT_BR { |fx| [fx] }
	  country_default_selected = "Brasil"
	else
	  country_array = CountryYetting.COUNTRY_EN { |fx| [fx] }
	  country_default_selected = "United States"
	end
%>

	<%= f.select(:country, options_for_select(country_array, country_default_selected), { :include_blank=>false },  {:class => 'form-control select select-primary select-block mbl'  }) %>

<%end%>
