<% cache("subscription_form#{I18n.locale.to_s}") do %>
	<div class="row">
		<%= form_for @subscription, url: { action: "subscription", locale: params[:locale] }, html: { } do |f| %>
		<%= hidden_field_tag "locale", params[:locale] %>
		<div id="join" class="row padding-top-left-right-bottom ">
			<div class="col-lg-4 col-xs-1 col-md-4 col-sm-3"></div>
			<div class="col-lg-4 col-xs-10 col-md-4 col-sm-6 text-center">
				<p class="txt_title_join">
					<%= I18n.t(:cadastro)%>
				</p>
			</div>
			<div class="col-lg-4 col-xs-1 col-md-4 col-sm-3"></div>
		</div>
	
		<div class="row padding-top-left-right-bottom ">
			<div class="col-lg-4 col-xs-1 col-md-4 col-sm-3"></div>
	
			<div class="col-lg-4 col-xs-10 col-md-4 col-sm-6 text-cadastrar text-center">
				<p>
					<%= I18n.t(:text_cadastrar)%>
				</p>
			</div>
			<div class="col-lg-4 col-xs-1 col-md-4 col-sm-3"></div>
		</div>
	
		<div class="row padding-top-left-right-bottom ">
			<div class="col-lg-4 col-xs-1 col-md-4 col-sm-3"></div>
			<div class="col-lg-4 col-xs-10 col-md-4 col-sm-6 default-text text-center">
				<div class="form-group">
					<% place_holder_name = Subscription.human_attribute_name "name"%>
					<%= f.text_field :name, required: true, class: "form-control", autofocus: false, class: 'form-control', placeholder: place_holder_name %>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<% place_holder_email = Subscription.human_attribute_name "email"%>
					<%= f.email_field :email, required: true, class: "form-control", autofocus: false, class: 'form-control', placeholder: place_holder_email %>
				</div>
				<div class="form-group">
					<% place_holder_phone = Subscription.human_attribute_name "phone"%>
					<%= f.text_field :phone, required: false, class: "form-control", autofocus: false, class: 'form-control', placeholder: place_holder_phone %>
				</div>
				<div class="form-group">
					<% place_holder_zip_code = Subscription.human_attribute_name "zip_code"%>
					<%= f.text_field :zip_code, required: true, class: "form-control", autofocus: false, class: 'form-control', maxlength:15, placeholder: place_holder_zip_code %>
				</div>
				<div class="form-group text-align-left input-select-country">
	
					<%= render :partial => "country", locals: {f: f} %>
	
				</div>
	
				<div class="form-group">
					<label class="radio"><%= f.radio_button :chef, false, :checked => true %><span class="outer"><span class="inner"></span></span><%= I18n.t(:label_i_want_to_buy)%></label>
					<label class="radio"><%= f.radio_button :chef, true %><span class="outer"><span class="inner"></span></span><%= I18n.t(:label_i_want_to_cook)%></label>
				</div>
			</div>
			<div class="col-lg-4 col-xs-1 col-md-4 col-sm-3"></div>
	
		</div>
		<div class="row">
			<div class="col-lg-4 col-xs-1 col-md-4 col-sm-3"></div>
			<div class="col-lg-4 col-xs-10 col-md-4 col-sm-6 text-center">
				<button type="button" onclick="javascript:validate_submit_form();" class="btn btn-primary btn-lg btn-block btn-cadastrar">
					<%= I18n.t(:btn_enviar_subscription)%>
				</button>
			</div>
			<div class="col-lg-4 col-xs-1 col-md-4 col-sm-3"></div>
		</div>
		<%end%>
	</div>
<%end%>