<% cache("subscription_logo#{I18n.locale.to_s}") do %>
	<div class="row logo text-center">
		<div class="col-lg-12 col-lg-12 col-xs-12 col-md-12 col-sm-12">
			<%= image_tag('https://s3-us-west-2.amazonaws.com/bemychef/images/img_logo.png', alt: "Be My Chef") %>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-4 col-xs-1 col-md-4 col-sm-3"></div>
		<div id="text-home" class="default-text text-center col-lg-4 col-xs-10 col-md-4 col-sm-6">
			<p>
				<%= I18n.t(:txt_home)%>
			</p>
			<a href="#join" class="default-maring-top" onClick="_gaq.push(['_trackEvent', 'Home', 'click', 'FaçaParte']);"> <%= I18n.locale.to_s != 'pt-BR' ? image_tag('https://s3-us-west-2.amazonaws.com/bemychef/images/btn_join.png', alt: "Join") : image_tag('https://s3-us-west-2.amazonaws.com/bemychef/images/btn_faca_parte.png', alt: "Faça Parte") %> </a>
			<div class="social">
				<a href="http://www.facebook.com/bemychef.co" target="_blank" title="Facebook - BeMyChef"  onClick="_gaq.push(['_trackEvent', 'Home', 'click', 'Facebook']);"><%= image_tag('https://s3-us-west-2.amazonaws.com/bemychef/images/icn_fb.png', alt: "Facebook - BeMyChef",) %></a>
				<a href="https://twitter.com/Be_MyChef" title="Twitter - BeMyChef" target="_blank" onClick="_gaq.push(['_trackEvent', 'Home', 'click', 'Twitter']);"><%= image_tag('https://s3-us-west-2.amazonaws.com/bemychef/images/icn_twitter.png', alt: "Twitter - BeMyChef",) %></a>
				<a href="http://instagram.com/bemychef_" title="Instagram - BeMyChef" target="_blank" onClick="_gaq.push(['_trackEvent', 'Home', 'click', 'Instagram']);"><%= image_tag('https://s3-us-west-2.amazonaws.com/bemychef/images/icn_instagram.png', alt: "Instagram - BeMyChef",) %></a>
				<a href="http://www.pinterest.com/be_mychef/" title="Pinterest - BeMyChef" target="_blank" onClick="_gaq.push(['_trackEvent', 'Home', 'click', 'Pinterest']);"><%= image_tag('https://s3-us-west-2.amazonaws.com/bemychef/images/icn_pinterest.png', alt: "Pinterest - BeMyChef",) %></a>
				<a href="mailto:email@bemychef.co" title="Contato - BeMyChef" target="_blank" onClick="_gaq.push(['_trackEvent', 'Home', 'click', 'Email']);"><%= image_tag('https://s3-us-west-2.amazonaws.com/bemychef/images/icn_mail.png', alt: "Contato - BeMyChef",) %></a>
			</div>
		</div>
		<div class="col-lg-4 col-xs-1 col-md-4 col-sm-3"></div>
	</div>
<%end%>