<% cache("subscription_top#{I18n.locale.to_s}") do %>
	<div class="navbar navbar-fixed-top home-top">
		<div class="padding-top-left-right-bottom">
			<div class="col-lg-6 col-xs-6  col-md-6  col-sm-6  language ">
				<a href="http://bemychef.co/pt-BR" class="<%= (I18n.locale.to_s == 'pt-BR' or I18n.locale.to_s == '' ) ? 'active' : ''%>">PT</a> / <a href="http://bemychef.co/en" class="<%= I18n.locale.to_s == 'en' ? 'active' : ''%>">EN</a>
			</div>
			<div class="col-lg-6 col-xs-6  col-md-6 col-sm-6 selected_by">
				<%= I18n.t(:select_startup_by)%>
				<br>
				<a href="https://collisionconf.com/startups/collide" target="_blank" onClick="_gaq.push(['_trackEvent', 'Home', 'click', 'Collision']);"><%= image_tag('https://s3-us-west-2.amazonaws.com/bemychef/images/img_selected_collision.png', alt: "Collision") %></a>
				<br>
				<a href="http://academy.21212.com/" target="_blank" onClick="_gaq.push(['_trackEvent', 'Home', 'click', '21212']);"><%= image_tag('https://s3-us-west-2.amazonaws.com/bemychef/images/img_selected_21212.png', alt: "21212 Academy") %></a>
			</div>
		</div>
	</div>
<%end%>
