<div class="container-fluid">

	<%= render :partial => "subscription_top" %>

	<%= render :partial => "subscription_logo" %>

	<%= render :partial => "subscription_form" %>
	
	<div class="home-footer"></div>
</div>

	<!-- Modal msg -->
	<div class="modal fade" id="modal_msg" tabindex="-1" role="dialog" aria-labelledby="modal_msgLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"><%= (not @success.nil? and not @success) ? I18n.t(:label_title_modal_cadastro_error) : I18n.t(:label_title_modal_cadastro) %></h4>
				</div>
				<div class="modal-body">
					<div id="modal-message"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<%= I18n.t(:bt_fechar)%>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
<script  type="text/javascript">	
	function validate_submit_form() {
		var valid = $('form').validate().form();
		if (valid) {
			_gaq.push(['_trackEvent', 'Home', 'click', 'SendForm']);
			$('form').submit();
		}
	}

	function GetURLParameter(sParam) {
		var sPageURL = window.location.search.substring(1);
		var sURLVariables = sPageURL.split('&');
		for (var i = 0; i < sURLVariables.length; i++) {
			var sParameterName = sURLVariables[i].split('=');
			if (sParameterName[0] == sParam) {
				return sParameterName[1];
			}

		}
	}

	var success = GetURLParameter("success");

	if (success != undefined && success == "true") {
		$("#modal-message").html("<%=I18n.t(:cadastro_efetuado)%>");
		$('#modal_msg').modal();
	} else if ((success != undefined && success == "false") || (<%=(not @success.nil? and not @success) ? true : false %>))   {
		$("#modal-message").html("<%=I18n.t(:msg_ocorreu_erro)%>");
		$('#modal_msg').modal();
	}

	$(document).ready(function() {
		$('form').validate({
			ignore : [],
			rules : {
				'subscription[name]' : {
					minlength : 3,
					maxlength : 50,
					required : true
				},
				'subscription[email]' : {
					email : true,
					required : true
				},
				'subscription[phone]' : {
					minlength : 5,
					maxlength : 15,
					required : true
				}
			},
			highlight : function(element) {
				$(element).closest('.form-group').addClass('has-error');
			},
			unhighlight : function(element) {
				$(element).closest('.form-group').removeClass('has-error');
			},
			errorElement : 'span',
			errorClass : 'help-block',
			errorPlacement : function(error, element) {
				/*
				 var name_element = '#'+element.attr('name')+'_error';

				 parent_element = $(name_element)
				 if (parent_element.length) {
				 error.insertAfter($(parent_element));
				 } else if (element.parent('.input-group').length) {
				 error.insertAfter(element.parent());
				 } else {
				 error.insertAfter(element);
				 }
				 */
			}
		});

	});

</script>
