<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<!--<![endif]-->
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="doisdoissete.">
		<meta name="wot-verification" content="e538845a4ab84d549a07"/>
		<meta name="keywords" content="chef,comida,cozinha,entrega,casa,caseira,saudável,homefood,food,delivery,local,cottage,homemade,menu,cardápio">
		<title><%=I18n.t(:title)%></title>
		<meta name="description" content="<%=I18n.t(:description)%>" />
		<meta property="og:title" content="<%=I18n.t(:title)%>" />
		<meta property="og:type" content="website"/>
		<meta property="og:site_name" content="<%=I18n.t(:title)%>"/>
		<meta property="og:url" content="http://www.bemychef.co" />
		<meta property="og:description" content="<%=I18n.t(:description)%>" />
		<meta property="og:image" content="http://s3-us-west-2.amazonaws.com/bemychef/images/logo_BeMyChef.png" />
		<%= csrf_meta_tags %>
<%
if Rails.env.production? then
%>
		<meta name="p:domain_verify" content="8d03fc5562d0a384f95678e0bfc3ff9b"/>
<%
end
%>
		<link href="https://s3-us-west-2.amazonaws.com/bemychef/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

		
		<link href="//s3-us-west-2.amazonaws.com/bemychef/css/vendor/bootstrap.min.css" rel="stylesheet" />
		<link href="//s3-us-west-2.amazonaws.com/bemychef/css/vendor/flat-ui.css" rel="stylesheet" />
		<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
		<link href="//s3-us-west-2.amazonaws.com/bemychef/css/application.css" rel="stylesheet" />
		<link href="//s3-us-west-2.amazonaws.com/bemychef/css/home_select.css" rel="stylesheet" />

		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>
		<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type='text/javascript'></script>
		<script src="//s3-us-west-2.amazonaws.com/bemychef/js/vendor/bootstrap.min.js"></script>
		<script src="//s3-us-west-2.amazonaws.com/bemychef/js/vendor/flat-ui.min.js"></script>
		<script src="//s3-us-west-2.amazonaws.com/bemychef/js/vendor/respond.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>
		
		
	</head>
	<body >

		<%= yield %>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '<%=MainYetting.GOOGLE_ANALYTICS%>']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		$('select').select2();
		</script>
	</body>
</html>
