<!DOCTYPE html>
<html>
	<head>

		<!--Info -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="doisdoissete.">
		<meta name="keywords" content="chef,comida,cozinha,entrega,casa,caseira,saudável,homefood,food,delivery,local,cottage,homemade,menu,cardápio">
		<title><%=I18n.t(:title)%></title>
		<meta name="description" content="<%=I18n.t(:description)%>" />
		<meta property="og:title" content="<%=I18n.t(:title)%>" />
		<meta property="og:type" content="website"/>
		<meta property="og:site_name" content="<%=I18n.t(:title)%>"/>
		<meta property="og:url" content="http://www.bemychef.co" />
		<meta property="og:description" content="<%=I18n.t(:description)%>" />
		<meta property="og:image" content="http://s3-us-west-2.amazonaws.com/bemychef/images/logo_BeMyChef.png" />
		<link href="https://s3-us-west-2.amazonaws.com/bemychef/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>
		<script src="//s3-us-west-2.amazonaws.com/bemychef/js/vendor/respond.min.js"></script>
		<!--Styling -->
		<style>
			html {
				height: 100%;
			}
			@font-face {
				font-family: landing_bemychef_bold;
				src: url("https://s3-us-west-2.amazonaws.com/bemychef/fonts/landing_bemychef_Bold.ttf");
			}
			@font-face {
				font-family: landing_bemychef_regular;
				src: url("https://s3-us-west-2.amazonaws.com/bemychef/fonts/landing_bemychef_Regular.ttf");
			}

			body {
				background-attachment: fixed;
				background-color: #393939 !important;
				background-image: url("https://s3-us-west-2.amazonaws.com/bemychef/images/img_bg.png");
				background-repeat: no-repeat;
				font-family: landing_bemychef_regular, Helvetica, Arial, Sans-Serif;
				font-size: 14px;
				background-color: #393939 !important;
			}
			.error_container {
				display: block;
				margin: auto;
				margin: 3% auto 0 auto;
				width: 30%;
			}

			.error_container .error {
				display: block;
				text-align: center;
			}

			.error_container .error img.alert {
				display: block;
				margin: 0 auto 25px auto;
			}

			.error_container .message > * {
				display: block;
			}

			.error_container .message strong {
				font-weight: bold;
				font-size: 2.5em;
				color: #fff;
				margin: 15px 0 0;
				font-family: landing_bemychef_bold;
			}

			.error_container .message span {
				margin: 5px auto 0;
				font-size: 1.5em;
				color: #fff;
			}

			.error_container .contact {
				display: block;
				text-align: center;
				margin: 20px 0 0 0;
			}

			.error_container .contact a {
				display: inline-block;
				margin: 0 -1px; /* For inline block & ERB - HAML removes whitespace; ERB does now - http://haml.info/docs/yardoc/file.REFERENCE.html#whitespace_removal__and_ */
				opacity: 0.8;
				transition: opacity 0.15s ease;
			}

			.error_container .contact a img {
				display: block;
				margin: 5px;
			}

			.error_container .contact a:hover {
				opacity: 0.8;
			}

		</style>
	</head>

	<!--Body -->
	<body>
		<!--Logo -->
		<a href="http://www.bemychef.co"> <%= image_tag 'https://s3-us-west-2.amazonaws.com/bemychef/images/img_logo.png?', alt: "BeMyChef", width: "120", class: "alert" %> </a>
		<div class="error_container">
			<%= yield %>
		</div>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '<%=MainYetting.GOOGLE_ANALYTICS%>']);
		  _gaq.push(['_trackPageview', 'page_error_heroku']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>

</html>